@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

@media  (max-width: 1700px){
    html{
        font-size: 85%;

    }
}

@media  (max-width: 700px){
    html{
        font-size: 70%;

    }
}

@media  (max-width: 500px){
    html{
        font-size: 50%;

    }
}

@media  (max-width: 400px){
    html{
        font-size: 30%;

    }
}

@media  (max-width: 600px){
    html{
        font-size: 60%;

    }
}


@media  (max-width: 700px){
    .mobile h2{
        font-size: 1rem;
}
}

